#bannnner{
    background-image: url("/images/banner.jpg") !important;
    width: 50%;
    background-repeat: no-repeat;
/*
    background-position: right top;
    background-attachment: fixed;
*/
}

.nospace {
    margin: 0;
    margin-top: 35px;
    padding: 0;
    list-style: none;
}

.contact.linklist li{
    position: relative;
    padding-left: 40px;
}

.contact.linklist li address{
        font-style: normal !important;
}

.contact li i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    font-size: 20px;
    text-align: center;
    

}

/*Section -2 CSS-Gallery*/

.design-bg-color {
    padding-top: 50px;
    position: relative;
    width: 100%;
}

    .design-bg-color:before {
        content: '';
        background-color: #d51d5d;
        width: 73%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }

.designer-bg {
    z-index: -1;
    width: 89%;
    height: 384px;
    top: -900px;
    position: relative;
    bottom: -135px;
    float: right;
    left: 0px;
    background-image: url(/images/designer-bg.png);
    background-position: bottom left;
    background-size: auto;
    background-repeat: no-repeat;
}

.grid {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 0px 5px;
}

.grid-item {
    width: 25%;
    float: left;
    padding: 0 15px 30px;
}

.grid-item a {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*sec 5*/

.video-bg-color {
    padding-top: 50px;
    position: relative;
    width: 100%;
}

    .video-bg-color:before {
        content: '';
        background-color: #6666cc;
        width: 63%;
        position: absolute;
        left: 37%;
        top: 0;
        height: 100%;
        z-index: -1;
    }

.videoGallery .title {
            font-family: 'Anton', sans-serif;
            float: right;
            
/*            width: 500px;*/
            font-size: 120px;
            line-height: 0px;
            color: #fff;
            font-weight: 100;
            text-transform: uppercase;
/*            display: inline-block;*/
            padding-top: 5px;
}

.videoGallery h3{
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 100;
    float: right;
    margin-right: 150px;
    width: 350px;
    text-transform: uppercase;
    color: #fff;    
}